.sidebar {
  background-color: #f1924b;
  display: inline-block;
  height: 100%;
  position: fixed;
  width: 200px;
}

.sidebarLogo{
  height: 60px;
}
.sidebarList{
  background-color: #f1924b;
  height: 70px;
  }